@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using Tailwind CSS for design of components. 
   Install Tailwind CSS IntelliSense for VScode to help you write CSS
   Check https://tailwindcss.com/docs/ for documentation and help
*/

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

h1{
    font-family: "Love Ya Like A Sister", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: theme(colors.gray);
}

body {
    font-family: "Sanchez", Georgia, "Times New Roman", Times, serif;
    background-color: theme(colors.yellow);
}